<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key ="HttpTimeout" value ="10"/>
    <add key ="CcTrayPassword" value ="**Fish22"/>
    <add key ="CcTrayUsername" value ="owainp"/>
    <add key ="CcTrayUrl" value ="http://build.london.ttldev.local:8153/go/cctray.xml"/>
    <add key ="PollTime" value ="10"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>